RewriteEngine On
RewriteRule ^404/?$ /rupinder/404.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ http://aws.computerstudi.es/~gc200397613/rupinder/404.php [L,R]

ErrorDocument 404 http://aws.computerstudi.es/~200397613/rupinder/404.php